
<h1>Baseline Consumption</h1>  
    
<div style="display: block;">
<canvas baseChart width="500" height="200"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
</canvas>
</div>


<div class="form-control">
    <label for="durationProgram">Duration</label>
    <input [(ngModel)]="durationProgram" type="text" name="durationProgram" id="durationProgram">
    {{durationError}}
</div>

<div>
    <button (click)="onSubmitProgram()">
      Set Program Interval
    </button>

    <mat-form-field appearance="fill">
  <mat-label>{{stringSelectedDevices}}</mat-label>
  <mat-select [(ngModel)]="selectedDevice">
    <mat-option *ngFor="let device of devices" [value]="device.deviceId">
      {{device.deviceName}}
    </mat-option>
  </mat-select>
</mat-form-field>

</div>

<div *ngIf="durationProgram!='0'">
    <p>Minimize</p>
    <ol>
        <li *ngFor="let interval of intervals.slice(0,3); let i=index">
            {{interval}}
        </li>
    </ol>

    <p>Maximize</p>
    <ol>
        <li *ngFor="let interval of intervals.slice(-4,-1); let i=index">
            {{interval}}
        </li>
    </ol>
</div>

