
<div class="register-main-container">
    <div class="bottom-left-logo">
      <div class="circle1 circle"></div>
      <div class="circle2 circle"></div>
  </div>
  
    <div class="centered">
      <h1 class="title">Create account</h1>
      <p>Already have an account?
        <a routerLink="/login">Sign in</a>
      </p>
  
      <form [formGroup]="registerForm">
   
  
      <div class="input-icons">
        <i class="fa fa-user icon"></i>
      <input class="text_input" type = "text" formControlName="username" placeholder="Username"/>
      </div>
  
      <div class="input-icons">
        <i class="fa fa-key icon"></i>
      <input class="text_input" type="password" formControlName="password" placeholder="Password"/>
      </div>

      <div class="input-icons">
        <i class="fa fa-calendar icon"></i>
      <input class="text_input" type="bdate" formControlName="bdate" placeholder="mm/dd/yyyy"/>
      </div>

      <div class="input-icons">
        <i class="fa fa-info icon"></i>
      <input class="text_input" type="name" formControlName="name" placeholder="Name"/>
      </div>

      <div class="input-icons">
        <i class="fa fa-info icon"></i>
      <input class="text_input" type="address" formControlName="address" placeholder="Address"/>
      </div>


      </form>

      <div *ngIf=" this.signupAttempt">
        <p class="error-message" *ngIf="emptyBdate() ">Please introduce a birthdate</p>
        <p class="error-message" *ngIf="validateBdate() ">Please introduce a valid BirthDate</p>
        <p class="error-message" *ngIf="emptyUsername() ">Please introduce an username</p>
        <p class="error-message" *ngIf="validateUsername() ">Please introduce a valid username</p>
        <p class="error-message" *ngIf="registerError != undefined ">{{registerError}}</p>
      </div>
  
      <button class="button_signup" (click)="buttonPressed()" id="signupButton">Sign up</button>
    </div>
  
    <div class="top_left_logo">
  </div>
  </div>