
<div class="login_main_container">

    

    <div class="center_container">
        <h1>Login</h1>
        <p>Please enter your email and password</p>    
        
       
        <form [formGroup]="loginForm">
            <div class="email">
                <i class="fa fa-envelope icon"></i>
                <input type="text" name="userName" placeholder="Username" formControlName="userName"/>
                <i *ngIf="getEmailInputErrors()" class="fa fa-exclamation-circle invalid_icon"></i>
            </div>
            

            <div class="password">
                <i class="fa fa-lock icon"></i>
                <input type="password" name="password" placeholder="Password" formControlName="password"/>
                <i *ngIf="getPasswordInputErrors()"  class="fa fa-exclamation-circle invalid_icon"></i>
            </div>

            <div class="messages_container" id="errors-messages" *ngIf="getInputErrors()">
                <p *ngIf="getEmailInputErrors() && loginForm.controls['userName'].hasError('required')">
                    Username field is empty.
                </p>
                <p *ngIf="getPasswordInputErrors() && !getEmailInputErrors()">
                    Password field is empty.
                </p>
            </div>

        </form>
        
        <div class="login-func"> 
            <a href="#">Forgot password?</a>
            <button (click)="onSubmit()">Login</button>
        </div>

        <div class="register-sec">
            <p>Not a member yet?   <a routerLink="/register">Register!</a></p>
        </div>
    </div>

    <div class="bottom-left-logo">
        <div class="circle1 circle"></div>
        <div class="circle2 circle"></div>
    </div>
    

    <div class="login_messages_container" id="login_messages_container" *ngIf="getLoginAttempt() && getLoginErrors()">
        <div class="login_messages_centered" (click)="hideLoginErrors()">
            <i class="fa fa-remove "></i>
            <p>{{loginErrorsMessage}}</p>
        </div>
    </div>
</div>