
<div *ngIf="deviceId!=-1">
    
    <h1>Energy Consumption</h1>  
        
    <div style="display: block;">
    <canvas baseChart width="500" height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
    </canvas>
    </div>

</div>
